@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


body {
  color: #686868;
  background: white;
  font-family: poppins;
}

@media screen and (max-width: 640px) {
  .rbc-timeslot-group {
    min-height: 100px!important;
  }
}
